.animate {
    animation: animate .4s cubic-bezier(0.44, 1.3, 0.33, 1.2);
}

@keyframes animate {
    from {
        transform: translate(0, -50px);
        opacity: 0;  
    }

    to {
        transform:translateY(0);
        opacity: 1;
    }
}